.form-create-news {
  padding: 10px 0 10px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-create-news-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100rem;

  & h2 {
    margin-bottom: 25px;
    text-align: center;
    color: #333;
    font-family: sans-serif;
  }

  & form {
    display: flex;
    flex-direction: column;
    gap: 18px; /* Espaçamento consistente entre os campos */
  }
}
