# Python
*.py[cod]
__pycache__/
*.so
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
.env
db.sqlite3
media/
*.sqlite3
staticfiles/

# Virtual environments
venv/
.env/
ENV/
env/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Mac/Windows
Thumbs.db
Desktop.ini

# Logs, coverage reports
htmlcov/
.coverage
coverage.xml

# Node modules (if ever used)
node_modules/