{% extends "global/base.html" %}

{% block title %}E.D.C. News - Sobre{% endblock %}
{% include 'edcnews/partials/head.html'%}

<body>
    
    {% block content %}
        <main>
            {% include 'edcnews/partials/imagem-welcome.html' %}
        
            <div class="container-noticias">
                <div class="long-about">
                 <h1>Sobre</h1>
                <p>Todo dia fazemos escolhas sobre o que levamos conosco. O que cabe no bolso, na mochila ou no pulso não é apenas utilidade: é também estilo, identidade e preparação para o inesperado. Esse é o espírito do Every Day Carry (EDC).</p>

                <p>Aqui acreditamos que cada item tem uma história — seja uma caneta que te acompanha há anos, uma lanterna confiável nas horas de aperto, ou aquele canivete que combina praticidade e design. O EDC é mais do que ferramentas: é a arte de carregar o essencial, com consciência e propósito.</p>

                <p>Nosso objetivo é inspirar, compartilhar e ajudar você a montar o EDC perfeito para o seu dia a dia. Seja para simplificar sua rotina, se preparar para emergências ou simplesmente valorizar os pequenos detalhes que fazem diferença, aqui você encontra dicas, análises, comparativos e muito conteúdo dedicado ao universo EDC.</p>

                <p>Seja bem-vindo à nossa comunidade.</p>
                <p>Carregue menos, carregue melhor.</p>

        
                </div>
            </div>
            </main>

    {% endblock %}
</body>
</html>