{% extends "global/base.html" %}
{% block title %}E.D.C. News - Todas as noticias{% endblock %}
{% include 'edcnews/partials/head.html'%}

<body>
    
    {% block content %}
        <main>
            {% include 'edcnews/partials/imagem-welcome.html' %}
        
            
            <div class="container-noticias">
                {% for noticia in noticias %}
                    {% include 'edcnews/partials/noticias.html' %}
                {% endfor %}
            </div>

            {% include 'edcnews/partials/pagination.html' %}
        </main>
    {% endblock %}
</body>
</html>