{% extends "global/base.html" %}

{% block title %}E.D.C. News - Contato{% endblock %}
{% include 'edcnews/partials/head.html'%}

<body>
    
    {% block content %}
        <main>
            {% include 'edcnews/partials/imagem-welcome.html' %}
        
            <div class="container-noticias">
                <div class="long-about">
                <h1>Contato</h1>
                <h3>Email</h3>
                <p>jotao22gm@gmail.com</p>
                <h3>Telefone</h3>
                <p>(82)98702-6221</p>

        
                </div>
            </div>
            </main>

    {% endblock %}
</body>
</html>