{% extends "global/base.html" %}

{% block title %}E.D.C. News - Home{% endblock %}
{% include 'edcnews/partials/head.html'%}

<body>
    
    {% block content %}
        <main>
            {% include 'edcnews/partials/imagem-welcome.html' %}
        
            {% include 'edcnews/partials/categorys.html' %}
        
            <div class="container-noticias">
                <div class="texto-recentes">
                    <h1>Notícias Recentes</h1>
                </div>
            
                <div id="news-container">
                    {% include 'edcnews/partials/news-itens.html' %}
                </div>  
                
                <div id="loading" style="display:none;">Carregando...</div>

            </div>
            </main>

    {% endblock %}
</body>
</html>