{% extends "global/base.html" %}

{% block title %}E.D.C. News - Home{% endblock %}
{% include 'edcnews/partials/head.html'%}

<body>
    
    {% block content %}
        <main>
            {% include 'edcnews/partials/imagem-welcome.html' %}
        
            {% include 'edcnews/partials/categorys.html' %}
        
            <div class="container-noticias">
                <div class="texto-recentes">
                    <h1>Notícias Recentes</h1>
                </div>
            
        
                {% for noticia in noticias %}
                    {% include 'edcnews/partials/noticias.html' %}
                {% endfor %}
            
                <div class="see-more">
                    <a href="{% url 'all_news' %}">Ver mais ...</a>
                </div>
            </div>
            </main>

    {% endblock %}
</body>
</html>