<!DOCTYPE html>
<html lang="en">
{% include 'edcnews/partials/head.html'%}
<body>
    {% include 'edcnews/partials/header.html' %}
    <main>
        <div class="image-welcome">
            <h1>Seja muito bem vindo ao E.D.C. News</h1>
            <h2>Seu site de noticias favorito sobre produtos para edc</h2>
        </div>

        <div class="categories">
            <span class="text-categorias"><p>Aqui estão os principais tóopicos</p></span>
            <div class="lista-categorias">
                <div class="categoria"><a class="cat-laminas" href="">
                    <span>laminas</span>
                </a></div>
                
                <div class="categoria"><a class="cat-lanternas" href="">
                    <img src="">
                    <span>lanternas</span>
                </a></div>
                
                <div class="categoria"><a class="cat-multitools" href="">
                    <img src="">
                    <span>multitools</span>
                </a></div>
            </div>
        </div>


    </main>
</body>
</html>