{% extends "global/base.html" %}

{% block title %}E.D.C. News - Home{% endblock %}
{% include 'edcnews/partials/head.html'%}

<body>
    
    {% block content %}
        <main>
            {% include 'edcnews/partials/imagem-welcome.html' %}
        
            <div class="container-noticias">
                {% for noticia in noticias %}
                    {% include 'edcnews/partials/noticias.html' %}
                {% endfor %}
            
                <div class="see-more">
                    <a href="{% url 'all_news' %}">Ver tudo ...</a>
                </div>
            </div>
            {% include 'edcnews/partials/pagination.html' %}
            </main>
    {% endblock %}
</body>
</html>