{% load static %}
{% include "edcnews/partials/head.html"%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'edcnews/partials/header.html' %}


    {% block content %}
    {% endblock %}
    <script src="{% static 'edcnews/js/menu.js' %}"></script>
    <script src="{% static 'edcnews/js/scrollpage.js' %}"></script>
    {% block formuse %}{% endblock formuse %}
</body>
<footer>
    {% include 'edcnews/partials/footer.html' %}
</footer>
</html>