{% load static %}
{% include "edcnews/partials/head.html"%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% include 'edcnews/partials/header.html' %}


    {% block content %}
    {% endblock %}
    <script src="{% static 'edcnews/js/menu.js' %}"></script>
    <script src="{% static 'edcnews/js/scrollpage.js' %}"></script>
    <script src="{% static 'edcnews/js/criarNoticia.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tiptap/core@2.0.0/dist/tiptap-core.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tiptap/starter-kit@2.0.0/dist/tiptap-starter-kit.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tiptap/extension-image@2.0.0/dist/tiptap-extension-image.umd.min.js"></script>
</body>
<footer>
    {% include 'edcnews/partials/footer.html' %}
</footer>
</html>