<div class="categories">
    <span class="text-categorias">Aqui estão os principais tópicos</span>
    <div class="lista-categorias">
        <div class="categoria"><a class="cat-laminas" href="{% url 'category_news' '1' %}">
            <span>laminas</span>
        </a></div>

        <div class="categoria"><a class="cat-lanternas" href="{% url 'category_news' '2' %}">
            <img src="">
            <span>lanternas</span>
        </a></div>

        <div class="categoria"><a class="cat-multitools" href="{% url 'category_news' '3' %}">
            <img src="">
            <span>multitools</span>
        </a></div>
    </div>
</div>