<footer>
    <div class="social-media">
        <nav>
            <ul>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i><span>Facebook</span></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i><span>Instagram</span></a></li>
                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i><span>YouTube</span></a></li>
                <li><a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i><span>Twitter</span></a></li>
            </ul>
        </nav>
    </div>



    <div class="end-page">

        <div class="about-me">
            <h2>Sobre Mim</h2>
            <h3>
                João Pedro Calaça Costa
            </h3>
            <p>
                Estudante de ciencias da computação e entusiasta de EDC (Everyday Carry) e compartilho notícias e informações sobre produtos relacionados.
            </p>
            <p>
                Este site serve para compartilhar informações e novidades sobre o mundo EDC, ajudando você a encontrar os melhores produtos e dicas.
            </p>
        </div>

        </div>
        
        <div class="reservados">
            <p>2025 E.D.C. News. Todos os direitos reservados.</p>
        </div>
    </div>

</footer>