{% load static %}

<header class="header">
    <!-- 🔷 Logo -->
    <div class="logo">
        <a href="/">
            <img src="logo.png" alt="Logo da Empresa">
        </a>
    </div>

    <!-- 🔽 Barra abaixo da logo -->
    <div class="items-container">
        <!-- 🔍 Busca -->
        <div class="search">
            <a href="">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>

        <!-- 📑 Menu -->
        <nav class="menu">
            <button class="menu-toggle">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blog</a></li>
            </ul>
        </nav>

        <!-- 🌐 Redes Sociais -->
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</header>
<script src="{% static 'js/menu.js' %}"></script>