<header class="items-container">
    <div class="hamburger-menu">
        <button id="menu-toggle">☰</button>
    </div>
    
    <div class="search">
        <a href="">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
    </div>
    
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a href=""></a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                    <a href="">Blog</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="social">
        <nav>
            <ul>
                <li>
                    <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></i></a>
                    <a href="https://x.com/"><i class="fa-solid fa-x"></i></a>
                </li>
            </ul>
        </nav>
    </div>

</header>