{% load static %}

<header class="header">
    <!-- Logo -->
    <div class="logo">
        <a href="/">
            <img src="{% static 'edcnews/images/logo.png' %}" alt="Logo da Empresa">
        </a>
    </div>

    <!-- Botão do hambúrguer -->
    <button class="menu-toggle">
        <i class="fa-solid fa-bars"></i>
    </button>

    <!-- Menu -->
    <nav class="menu">
        
                <!-- Busca -->
        <div class="search">
            <a href="javascript:void(0)" onclick="toggleSearch()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>

        <div class="search-bar" id="search-bar">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q" placeholder="Buscar..." class="search-input">
                <button type="submit" class="search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        
        
        <ul class="menu-links">
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Blog</a></li>
        </ul>

        <!-- Redes sociais -->
        <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>
        </div>
    </nav>
</header>